//- Breadcrumbs component:
section.breadcrumbs.mt-2.mb-2
  .container
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
      .container-fluid
        nav(aria-label='breadcrumb')
          ol.breadcrumb
            li.breadcrumb-item
              a(href='#') Главная
            li.breadcrumb-item
              a(href='#') Каталог
            li.breadcrumb-item.active(aria-current='page')
              a(href='#') Смартфоны
//- Breadcrumbs component: END
