section.description
  .container
    .note.note-light.mb-3
      h6.mt-2.h6.mb-2 Справочная информация
      p
        | Купить смартфон Highscreen вы можете круглосуточно на нашем сайте производителя
        | мобильных телефонов Highscreen "hs-store.ru" или связавшись с менеджерами магазина.
        | Возможна доставка по городам России: (Москва, Санкт-Петербург, Тверь, Новосибирск,
        | Нижний Новгород, Владивосток, Краснодар, Ростов-на-Дону, Сочи). Компания компенсирует
        | часть оплаты за доставку, предоставляя скидку на доставку по Российской федерации в
        | размере 500 рублей. Выбрать смартфон вам поможет подробная информация о каждой модели,
        | размещенная на сайте, а также наши менеджеры.
